
# Minio
MINIO_CONTAINER_NAME=minio
MINIO_PORT_1=9000
MINIO_BIND_PORT_1=9000
MINIO_PORT_2=9090
MINIO_BIND_PORT_2=9090
MINIO_ACCESS_KEY=oX5LxsuSYK8AqkVT
MINIO_SECRET_KEY=gUjFckzx626KXGNcH6RgQXouDND5qAuf

# Meta-Database
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Airflow Core
AIRFLOW__CORE__FERNET_KEY=''
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth'

AIRFLOW_UID=50000
AIRFLOW_GID=0

# Backend DB
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS=False

# Airflow Init
_AIRFLOW_DB_UPGRADE=True
_AIRFLOW_WWW_USER_CREATE=True
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
_PIP_ADDITIONAL_REQUIREMENTS= ""

# Trino
TRINO_CONTAINER_NAME=trino
TRINO_HOST=trino
TRINO_PORT=8080
TRINO_BIND_PORT=8888
TRINO_DB=minio
TRINO_USER=trino

# MariaDB
MARIADB_CONTAINER_NAME=mariadb
MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_BIND_PORT=3306
MYSQL_ROOT_PASSWORD=admin
MYSQL_USER=admin
MYSQL_PASSWORD=admin
MYSQL_DATABASE=metastore_db

# Hive
HIVE_CONTAINER_NAME=hive-metastore
HIVE_HOST=hive-metastore
HIVE_PORT=9083
HIVE_BIND_PORT=9083

# Neo4J
NEO4J_CONTAINER_NAME=neo4j-amundsen
NEO4J_HOST=neo4j-amundsen
NEO4J_PORT_1=7474
NEO4J_BIND_PORT_1=7474
NEO4J_PORT_2=7687
NEO4J_BIND_PORT_2=7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=test

# ElasticSearch
ES_CONTAINER_NAME=es-amundsen
ES_PORT=9200
ES_BIND_PORT=9200

# Amundsen-search
AS_CONTAINER_NAME=amundsen-search
AS_PORT=5000
AS_BIND_PORT=5001

# Amundsen-metadata
AM_CONTAINER_NAME=amundsen-metadata
AM_PORT=5000
AM_BIND_PORT=5002

# Amundsen-frontend
AF_CONTAINER_NAME=amundsen-frontend
AF_PORT=5000
AF_BIND_PORT=5000

# Python
PYTHON_CONTAINER_NAME=python
PYTHON_HOST=python
